.main-research {
  width: 80%;
  margin: auto;
  & .research-section {
    margin: 2.5rem 0 5.5rem 0;
  }
  & .research-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  & .research-body,
  & .list-item {
    line-height: 1.9;
    font-size: 24px;
    margin-bottom: 1.5rem;
  }
  & .research-image {
    width: 100%;
  }
  & .research-divider {
    margin-right: 4.5rem;
  }
  & .research-container {
    display: flex;
    align-items: center;
    & .image-col {
      display: flex;
      flex-direction: column;
    }
  }
}
